@model OdeToFood.Models.AboutModel

@{
    ViewBag.Title = "Add a review!";
}

<h1>Add a review!</h1>

<h2>Here you can add a review of a recent pub or resturant you and the gang have been.</h2>
