@{
    ViewBag.Title = "Support";
}
<h1 class="subhead">Support Page</h1>

<div class="bodycontact">

    <h3>Please do not contact Jack Fagan.</h3>

    <address>
        19 or 20 <strong>(no one knows)</strong> Irving Street,<br />
        Touristy Part of London<br />
        <abbr title="Phone">P:</abbr>
        0800 716 146
    </address>

    <address>
        <strong>Support:</strong>   <a href="support@autowindscreens.com">support@autowindscreens.com</a><br />
        <strong>Marks Unsplash:</strong> <a href="https://unsplash.com">unsplash.com/mhayward</a>
    </address>
</div>