@model OdeToFood.Models.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" st>
    <h1 class="yh1">Food Reviews</h1>
    <p class="button"><a href="/Home/About" class="btn btn-primary btn-lg">Check out the food</a></p>
</div>

<p class="intro">Welcome </br> This website is designed to store reviews of places DAM employees have been to. Including both pubs and restaurants.<br /> The dream is to find the best restaurant ever.</p>

<div class="iconpages">

    <h3 class="title">Where do you want to go?</h3>

    <ul class="iconhome">
        <li class="indivicon">
            <a href="~/Restaurant/Restaurant">
                <span>
                    <img class="tableicon" src="~/Content/Icons/HomePage/dining.svg" />
                    <p class="icontext">View the Restaurants</p>
                </span>
            </a>
        </li>

        <li class="indivicon">
            <a href="~/Reviews/Create">
                <span>
                    <img class="tableicon" src="~/Content/Icons/HomePage/writing.svg" />
                    <p class="icontext">Write a review</p>
                </span>
            </a>
        </li>

        <li class="indivicon">
            <a href="~/Home/Contact">
                <span>
                    <img class="tableicon" src="~/Content/Icons/HomePage/phone-call.svg" />
                    <p class="icontext">Get in touch</p>
                </span>
            </a>
        </li>

        <li class="indivicon">
            <a href="~/Home/About">
                <span>
                    <img class="tableicon" src="~/Content/Icons/HomePage/photo-camera.png" />
                    <p class="icontext">See our gallery</p>
                </span>
            </a>
        </li>

    </ul>

</div>

<div class="ratedr">
    <img class="food" src="~/Content/Icons/HomePage/rating.png" />
    <h2>Top Rated Restaurant</h2>
    <h4>The current restaurant below is the restaurant currently ranked the highest by DAM employees. This is subject to change depending on if a different restaurant gets more upvotes.</h4>
    <h4 class="reviewHome">
        Current Review: @Model.TopRatedReview.Name |
        @Model.TopRatedReview.Rating
    </h4>
</div>


<div class="ratedr">
    <img class="food" src="~/Content/Icons/HomePage/clock.png" />
    <h2>Recent Rated Restaurants</h2>
    <h4>The current restaurant below is the restaurant most recently ranked by DAM employees. This is subject to change when another review is uploaded to the Add review section.</h4>
    <h4 class="reviewHome">
        Current Review: @Model.RecentRatedReview.Name |
        @Model.RecentRatedReview.Reviews
    </h4>
</div>

<div class="ratedr">

    <img class="food" src="~/Content/Icons/HomePage/beer.png" />
    <h2>Top Rated Pubs</h2>
    <h4>The current pub below is the restaurant currently ranked the highest by DAM employees. This is subject to change depending on if a different pubs gets more upvotes.</h4>
    <h4 class="reviewHome">
        Current Review:
    </h4>
</div>
