@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" st>
    <h1 class="yh1">Food Reviews</h1>
    <p class="lead">This is to review recent resturants and pubs DAM has visited.</p>
    <p class="button"><a href="/Home/About" class="btn btn-primary btn-lg">Check out the food &raquo;</a></p>
</div>


<div class="ratedr">

    <img class="food" src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe/recipe-image/2016/12/quesadilla.jpg?itok=amQNECqN" />
    <h2>Top Rated Resturant</h2>
    <h3>The current resturant below is the resturant currently ranked the highest by DAM employees. This is subject to change depending on if a different resturant gets more upvotes.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
</div>
@*@html.action("bestreview", "reviews")html.action("bestreview", "reviews")*@



<div class="ratedr">
    <img class="food" src="https://goodfood.hr/wp-content/uploads/2017/10/147.jpg" />
    <h2>Recent Rated Resturants</h2>
    <h3>The current resturant below is the resturant most recently ranked by DAM employees. This is subject to change when another review is uploaded to the Add review section.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
</div>
@*@html.action("recentreview", "reviews")html.action("recentreview", "reviews")*@


<div class="ratedr">

    <img class="food" src="https://insidefmcg.com.au/wp-content/uploads/2016/05/beer1.jpg" />
    <h2>Top Rated Pubs</h2>
    <h3>The current pub below is the resturant currently ranked the highest by DAM employees. This is subject to change depending on if a different pubs gets more upvotes.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
</div>