@{
    ViewBag.Title = "Restaurant";
}

<h1 class="subhead">The Restaurants</h1>

<div class="search">
    <form method="get">
        <input type="search" name="searchTerm" />
        <input type="submit" name="Search By Name" />
    </form>
</div>

<p class="addreview"><a href="~/Restaurant/Create">Add a new Restaurant</a></p>


@foreach (var item in Model)
{

    //if (item.Pub == true)
    //{
    //    string Pub = "Yes";
    //}

    //else
    //{
    //    string Pub = "No";
    //}

<div class="reviewbox">
    <h4>@item.Name</h4>
    <div><h4>The average score is: </h4></div>
    @*<h4>Last Updated:@item.LastUpdated</h4>*@
    @*@if (item.VFriendly)
    {
    }*@
    <h4 style="float:right">Pub: @item.Pub</h4>
    <p class="deleteeditreview"><a href="~/Restaurant/Delete?id=@item.Id">Delete </a><a href="~/Restaurant/Edit?id=@item.Id">| Edit</a><p />
</div>
}

