@{
    ViewBag.Title = "Restaurant";
}

<h1 class="subhead">The Restaurants</h1>

<div class="search">
    <form method="get">
        <input type="search" name="searchTerm" />
        <input type="submit" name="Search By Name" />
    </form>
</div>

<p class="addreview"><a href="~/Restaurant/Create">Add a new Restaurant</a></p>


@foreach (var item in Model)
{

    <div class="reviewbox">

            @*@if (item.VFriendly = true)
            {
                var vegan = "V";
            }
            else { var vegan = ""; }*@

        <h4>@item.Name</h4>
        <p class="vegan" id="vegan"></p>

        @if (item.VFriendly = true)
        {
            <script>
                var veganfood = "Vegan Friendly";
                document.getElementById("vegan").innerHTML = veganfood;
            </script>
        }

        <div><h4>The average score is: </h4></div>
        <h4>Last Updated:@item.LastUpdatedDateTime</h4>
        <h4 style="float:right">Pub: @item.Pub</h4>
        <p></p>
        <p class="deleteeditreview"><a href="~/Restaurant/Delete?id=@item.Id">Delete </a><a href="~/Restaurant/Edit?id=@item.Id">| Edit</a><p />
    </div>
}

