@model IEnumerable<OdeToFood.Models.RestaurantReview>

@{
    ViewBag.Title = "Reviews";
}

<h2>Reviews!</h2>

<form method="get">
    <input type="search"name="searchTerm" />
    <input type="submit" name="Search By Name" />
</form>

@foreach (var item in Model)
    {
        <div>
            <h4>@item.Name</h4>
            <div>@item.Rating</div>
            @item.Comment
            <br />
        </div>
    }
