@model IEnumerable<OdeToFood.Models.RestaurantReview>

@{
    ViewBag.Title = "Reviews";
}

<div class="toppad">

    <h1 class="subhead">Reviews</h1>

    <div class="search">
        <form method="get">
            <input type="search" name="searchTerm" />
            <input type="submit" name="Search By Name" />
        </form>
    </div>

    <p class="addreview"><a href="~/Reviews/Create">Add a new Review</a></p>
</div>

@foreach (var item in Model)
{
<div class="reviewbox">
    <h4>@item.Name</h4>
    <div>@item.Rating</div>
    @item.Comment <div class="author">@item.Author</div>
    <p class="deleteeditreview"><a href="~/Reviews/Delete">Delete </a><a href="~/Reviews/Edit">Edit</a><p/>
</div>
}
